<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splitwise</title>
    <link rel="stylesheet" href="/css/home.css">
    <script defer src="/js/home.js"></script>
</head>
<body>
    <h1>Splitwise Revived</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <h3>Participants</h3>
        <div id="participantContainer">
            <input type="text" name="participants[]" id="participantInp">
            <input type="text" name="participants[]" id="participantInp">
        </div>
        <h3>Bill Image</h3>
        <input type="file" name="billImage" id="">
        <input type="submit" value="Submit">
    </form>
    <span class="loader"></span>
</body>
</html>
